.siderow{
    display:flex;
    align-items:center;
    padding:10px;
    cursor: pointer;
    padding-left: 20px;
    
}

.siderow h3{
    margin-left: 20px;
    font-weight: 400;
}

.siderow:hover{
    background-color:rgb(219, 219, 219);
    color:rgb(226, 42, 42);
    transform:scale(1.05)
}

.siderow.selected{
    color:red;
    background-color:rgb(219, 219, 219);
}