.videocard{
    display: flex;
    flex-direction: column;
    padding:5px;
    cursor: pointer;
}

.videocard img{
    object-fit: contain;
    width: 300px;
    height: 300px;
}

.video_info{
    display: flex;
    align-items: center;
    padding:5px;
}

.video_info_main{
    display: flex;
    flex-direction: column;
    padding-left:10px;
    width:250px;
}

.video_info_main section{
    display:inline;
}

.video_info_main h5,h6{
    font-size:11px;
    color:grey;
}

.video_info_main h4{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}